[user]
  name = Samuele Paglia
  email = sml.pgl@gmail.com

[alias]
  st = status -s
  lol = log --oneline --graph --all

[column]
  ui = auto

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[init]
  defaultBranch = main

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[push]
  autoSetupRemote = true
  #followTags = true

[pull]
  rebase = true

[fetch]
  prune = true
  pruneTags = true

[help]
  autocorrect = prompt

[commit]
  verbose = true

[rerere]
  enabled = true
  autoupdate = true

[core]
  excludesFile = $HOME/.config/git/gitignore

[merge]
  conflictstyle = zdiff3

#[rebase]
  #autoSquash = true
  #autoStash = true
  #updateRefs = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
